html { 
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}
*, * ::before, *::after { 
    box-sizing: inherit;
}
body {
   font-family: sans-serif;
margin:0px;
scroll-behavior: smooth;

width: 100%;
}
html, body {
   max-width: 100%;
   overflow-x: hidden;

}
.oursite {
max-width: 1200px;
margin:auto;
}

#head{
   scroll-behavior: smooth;
}
.navbar{
    position: fixed;
    scroll-behavior: smooth;
    z-index: 1;
    height:55px;
    margin:0;
    display: flex;
    justify-content: space-around;
    color:white;
    align-items: center;
    width: 100%;
    background-color: #3d3d3d;
    background-image: url("https://www.transparenttextures.com/patterns/french-stucco.png");
}

.navbar div a{

    color:white;
    font-size: 20px;
    text-decoration: none;
    scroll-behavior: smooth;

}

.navbar a:hover {
   text-shadow: 0px -2px 0px #000000, 0 0 5px rgba(255, 255, 255, 0.8), 0 -4px 15px rgba(255, 255, 255, 0.5);

}

.navbar div a:hover{
    scale:(1.5);
    background-color: white;
    text-decoration: underline #3d3d3d;
    color: black;
    border-radius: 5px;
    
}

.head img{
    height: 50px;
    width:50px;
    background-color: white;
    border-radius: 25px;
    transition: border-radius .4s ease;
    padding:0;
}
.head img:hover{
    border-radius: 0px;
    padding:0px;
}

/*  ///////////////HEADER VIDEO/////////*/
/* Style the video: 100% width and height to cover the entire window */

#myVideo {
    position: relative;
    right: 0;
    margin-bottom: 0px;
    min-width: 100%;
    min-height: 100%;
    max-height:100%;
    max-width:100%;
    background: rgba(0, 0, 0, 0.5);
  }

  .cover{
    background: rgba(0, 0, 0, 0.3);
    position: absolute;
    min-height:100%;
    min-width: 100%;
    z-index: 10;
    top:55px;
  }

#aboutSpace{
   height:10px;
}


  .content {
    position: absolute;
    bottom: 50%;
    background: rgba(0, 0, 0, 0.5);
    color: #f1f1f1;
    width: 100%;
    padding: 20px;
  }

.txt-type > .txt {
   border-right: 0.2rem solid #777;
   padding-right:2px;
   animation: blinkTextCursor 500ms steps(40) infinite normal;

   
}

@keyframes blinkTextCursor {
  from {
    border-right-color: rgba(255,255,255 .8);
  }
  to {
    border-right-color: transparent;
  }
}

.welcome{
   font-size: 55px;
}

.deli{
   display: flex;
   align-items: baseline;
}
.deli h2{
   font-size: 55px;
}

.deli p{
   font-size: 80px;
   text-decoration: underline #3d3d3d;
   margin:0;
   margin-left: 10px;
}
  /* //////////END OF COVER VIDEO//////////*/

  .aboutStory{
   background-color: #626570;
   background-image: url("https://www.transparenttextures.com/patterns/concrete-wall-3.png");
   margin-bottom: 50px;
   border-radius: 5px;
   padding-left:10px;
}

.aboutStory h2{display: flex;
justify-content: center;}

.aboutStory h2 p {display: flex;
justify-content: center;}

  .aboutUs h2{
   color:rgba(254, 255, 240, 0.973);
     font-size: 45px;
     font-family: sans-serif;
     text-decoration: underline #3d3d3d;
  }

 .aboutUs p{
   color:rgba(254, 255, 240, 0.973);
    font-family: sans-serif;
    padding-bottom: 10px;
    
 }

 .reviewpics{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap:5px;
    padding-top:40px;
    justify-content: space-around;
    justify-items: center;
    border-radius: 5px;
    background-color: #626570;
background-image: url("https://www.transparenttextures.com/patterns/concrete-wall-3.png");
/* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
    margin-bottom: 50px;
 }

 .reviewpics p{
   color:rgba(254, 255, 240, 0.973);
 }

 .capone{
    display: flex;
    flex-direction: column;
    width:300px;
 }

 .dillinger{
   display: flex;
   flex-direction: column;
   width:300px;
 }

 .escobar{
   display: flex;
   flex-direction: column;
   width:300px;
 }

.reviewpics img{
   border: 3px solid black;
   height:300px;
   width:300px;
}

  /*///////////BEGINNING OF MENU ////////////*/
  #menuSpace{
   height:60px;
}

  #menu{
      width:100%;
      text-align: center;
      font-size: 18px;
      color:rgba(254, 255, 240, 0.973);
    font-family:  baskerville;
    background-color: #3d3d3d;
    background-image: url("https://www.transparenttextures.com/patterns/french-stucco.png");
/* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
    padding-top:20px;
    padding-bottom: 20px;
    box-shadow: 0 0 10px black;
    border-radius: 5px;
  }

.paper{
    background-color: #595e69;
background-image: url("https://www.transparenttextures.com/patterns/clean-gray-paper.png");
/* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
width:90%;
margin:auto;
margin-top:25px;
margin-bottom: 25px;
}

  #appetizers{
      padding-bottom: 15px;
      text-align: center;
      margin:auto;
      font-family: Snell Roundhand, cursive;
      font-size: 80px;
      text-decoration: underline;
  }
  
  .title{
    font-family: baskerville;
    text-decoration: underline;
    font-size: 25px;
    padding-bottom: 5px;
  }

  .price{
      padding-bottom: 15px;
  }

  .description i{
     margin-left: 5px;
  }

  /*///////////////ALEX'S CODE///////////////////*/

  /* Gallery */
  

 #gallery {margin: 10px;
display: flex;
justify-content: center;
overflow: hidden;
}

 #gallery img {max-width: 400px;
 max-height: 400px;
 padding: 5px;
 filter: grayscale(100%);
 transition: 1s;
}

 #gallery img:hover {
    filter: grayscale(0);
    transform: scale(1.1);
 }
/*   ////////////BLOG POST/////////*/
.blog{
   background-color: #626570;
   background-image: url("https://www.transparenttextures.com/patterns/concrete-wall-3.png");
   margin-bottom: 30px;
   border-radius: 5px; 
}
.blog p{
   color:white;
   width: 800px;
   margin:auto;
   padding-bottom: 8px;
   font-size: 20px;
}
.blog h2{
   color:white;
   width:800px;
   margin-bottom: 20px;
   text-decoration: underline #3d3d3d;
   padding-left: 5px;
   font-size: 35px;
}
    
 
 .form {
   width: 50%;
   position: relative;
   height: 50px;
   overflow: hidden;
 }
 .form input {
    width: 100%;
    height: 100%;
    color:black;
    padding-top: 20px;
    border:none;
    outline: none;
 }
 .form label {
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    pointer-events: none;
    border-bottom: solid black 1px;
 }
 .form label::after{
    content: "";
    position: absolute;
    left: 0px;
    bottom: -1px;
    height: 100%;
    width: 100%;
    border-bottom: 3px solid steelblue;
    transform: translateX(-100%);
    transition: all .75s ease;
 }
 .content-email {
    position: absolute;
    bottom: 5px;
    left: 0px;
    transition: all 1s ease;
 }
 .form input:focus + .label-email .content-email,
 .form input:hover + .label-email .content-email {
    transform: translateY(-150%);
    font-size: 15px;
    color: blue;
 }
 .form input:focus + .label-email::after,
 .form input:hover + .label-email::after {
    transform: translateX(0%);
 }


/* Input animations */

.form {
   width: 100%;
   position: relative;
   height: 50px;
   overflow: hidden;
   }
   .form input {
      width: 100%;
      height: 100%;
      color:black;
      padding-top: 20px;
      border:none;
      outline: none;
      background: none;
      font-size: 20px;
   }
   .form label {
      position: absolute;
      bottom: 0px;
      left: 0px;
      width: 100%;
      height: 100%;
      pointer-events: none;
      border-bottom: solid black 1px;
   }
   .form label::after{
      content: "";
      position: absolute;
      left: 0px;
      bottom: -1px;
      height: 100%;
      width: 100%;
      border-bottom: 3px solid red;
      transform: translateX(-100%);
      transition: all .75s ease;
   }
   .content-email {
      position: absolute;
      bottom: 5px;
      left: 0px;
      transition: all 1s ease;
   }
   .form input:focus + .label-email .content-email,
   .form input:hover + .label-email .content-email{
      transform: translateY(-150%);
      font-size: 15px;
      color: red;
   }
   .form input:focus + .label-email::after,
   .form input:hover + .label-email::after {
      transform: translateX(0%);}


 /* Social Animation */
 
.items {
   display: flex;
   justify-content: center;
}

.items div {
   width: 50px;
   height: 50px;
   border-radius: 50%;
   display: flex;
   justify-content: center;
   align-items: center;
   transition: .5s;
   transform-style: preserve-3d;
}

.items div i {
   font-size: 30px;
}

.items div:hover {
   filter: grayscale(0);
}

.flipcardf {
   background: blue;
   filter: grayscale(100%);
 transition: .1s;
 margin-bottom: 5px;

}

.flipcardt {
   background: lightblue;
   filter: grayscale(100%);
 transition: 1s;
 margin-bottom: 5px;

}

.flipcardy { 
   background: red;
   filter: grayscale(100%);
 transition: 1s;
 margin-bottom: 5px;

}


.flipcardi { background: purple;
   filter: grayscale(100%);
 transition: 1s;
 margin-bottom: 5px;


}

.back, .front {
   position: absolute;
   width: 100%;
   height: 100%;
   justify-content: center;
   align-items: center;
   font-size: 15px;
}

  
div iframe:hover {
   filter: grayscale(0%);
   transition: 1s;
}

iframe {
filter: grayscale(100%);
}

#newletter h2 {
   font-family: cursive;
margin-bottom: 0;
display: flex;
justify-content: center;
font-size: 40px;
}

#newlettersub {
   margin-bottom: 0;
}

button {
   justify-content: center;
   margin-top: 10px;
   height: 30px;
   width: 200px;
   font-size: 15px;
}

button:hover {background: red;}

 .column {
   float: left;
   width: 50%;
   padding: 10px;
 }
 
 .row:after {
   content: "";
   display: table;
   clear: both;
 }

 #buttons {display: flex;
justify-content: center;}

h3:hover {
   color:red;
}

h2:hover {
   text-shadow: 0px -2px 0px red, 0 0 5px rgba(255, 255, 255, 0.8), 0 -4px 15px rgba(255, 255, 255, 0.5);

}

p {font-size: 35px;}

#special {margin-top: 25px;
filter: grayscale(100%);
transition: 1s;}
  
  #special:hover {
      filter: grayscale(0);}